
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-bottom: 1.5px solid #F0F0F0;
    background-color: white;
    z-index: 1000
}

.logo{
    position: relative;
    height: 100%;
    width: 20%;
}

.anchors{
    position: relative;
    margin-right: 30px;
    height: 100%;
    width: 40%;
    
}

.button{
    margin-left: 20px;
    
    height: 100%;
    width: 10%;
}

.icons{
    
    
    height: 100%;
    width: 15%;
}

.logo img{
    position: relative;
    top: 14px;
    left: 10px;
    width: 50px;
    height: 50px;
}

.logo h2{
    display: inline-block;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 30px;
    padding-left: 20px;
    color: #1C175A;
}

.anchors ul{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.anchors ul li{
    list-style-type: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.anchors ul li a{
    color: #1C175A;
    text-decoration: none;
}

.anchors ul li .special{
    color: brown;
}

.button button{
    margin-top: 27px;
    margin-left: 10px;
    padding: 7px 20px 7px 20px;
    border-radius: 20px;
    background-color: #FF4457;
    color: white;
    border: none;
    cursor: pointer;
}

.icons img{
    width: 25px;
    height: 25px;
    margin-top: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.heading-para{
    display: inline-block;
    width: 55%;
    margin-top: 120px;
    height: 400px;
    margin-bottom: 40px;
    
}

.heading-para p{
    
    font-family: "Raleway", sans-serif;
    padding-left:320px;
    color: gray;
    margin-top: 20px;
}

.heading-para h1{
    
    font-family: "Ubuntu", sans-serif;
    padding-left:320px;
    font-size: 36px;
    color: #1C165E;
    
}

.heading-para .heading-para-btn{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #660FF2;
    color: white;
    font-family: "Ubuntu", sans-serif;
    margin-left: 310px;
    position: relative;
    top: 20px;
    cursor: pointer;
}

.heading-para i{
    font-size: 45px;
    position: relative;
    top: 35px;
    left: 5px;
    color: #FF4457;
    cursor: pointer;
}

.heading-para span{
    position: relative;
    left: 15px;
    top: 23px;
}





.big-image{
    position: relative;
    top: 100px;
    left: 100px;
    width: 400px;
    height: 400px;
    
}

.second-heading-para{
    height: 120px;
}

.second-heading-para p{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #56667F;
}

.second-heading-para h1{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color: #1D165C;
    position: relative;
    top: 20px;
}


.four-boxes{
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 100%;
    margin-top: 20px;
}

.four-boxes .box1{
    width: 18%;
    height: 350px;
    border: 1px solid #E1EBF7;
    margin-left:200px;
    border-radius: 5px;
}

.four-boxes .box2{
    width: 18%;
    height: 350px;
    border: 1px solid #E1EBF7;
    background-color: #FF4457;
    border-radius: 5px;
}


.four-boxes .box3{
    width: 18%;
    height: 350px;
    border: 1px solid #E1EBF7;
    border-radius: 5px;
}


.four-boxes .box4{
    width: 18%;  
    height: 350px;
    border: 1px solid #E1EBF7;
    margin-right: 80px;
    border-radius: 5px;
}

.four-boxes .box1 h3{
    text-align: center;
    padding-top: 25px;
    font-family: "Ubuntu", sans-serif;
    color: #1B1659;
}

.four-boxes .box1 img{
    margin-left: 80px;
    margin-top: 25px;
    width: 70px;
    height: 70px;
}

.four-boxes .box1 p{
    text-align: center;
    font-family: "railway", sans-serif;
    color: #57667D;
    padding-top: 30px;
}

.four-boxes .box1 a{
    text-decoration: none;
    position: relative;
    top: 20px;
    left: 70px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #1C165C;
    
}

.four-boxes .box2 h3{
    text-align: center;
    padding-top: 25px;
    font-family: "Ubuntu", sans-serif;
    color: white;
}

.four-boxes .box2 img{
    margin-left: 80px;
    margin-top: 25px;
    width: 70px;
    height: 70px;
}

.four-boxes .box2 p{
    text-align: center;
    font-family: "railway", sans-serif;
    color: white;
    padding-top: 30px;
}

.four-boxes .box2 a{
    text-decoration: none;
    position: relative;
    top: 20px;
    left: 70px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: white;
    
}

.four-boxes .box3 h3{
    text-align: center;
    padding-top: 25px;
    font-family: "Ubuntu", sans-serif;
    color: #1B1659;
}

.four-boxes .box3 img{
    margin-left: 80px;
    margin-top: 25px;
    width: 70px;
    height: 70px;
}

.four-boxes .box3 p{
    text-align: center;
    font-family: "railway", sans-serif;
    color: #57667D;
    padding-top: 30px;
}

.four-boxes .box3 a{
    text-decoration: none;
    position: relative;
    top: 20px;
    left: 70px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #1C165C;
    
}

.four-boxes .box4 h3{
    text-align: center;
    padding-top: 25px;
    font-family: "Ubuntu", sans-serif;
    color: #1B1659;
}

.four-boxes .box4 img{
    margin-left: 80px;
    margin-top: 25px;
    width: 70px;
    height: 70px;
}

.four-boxes .box4 p{
    text-align: center;
    font-family: "railway", sans-serif;
    color: #57667D;
    padding-top: 30px;
}

.four-boxes .box4 a{
    text-decoration: none;
    position: relative;
    top: 20px;
    left: 70px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #1C165C;
    
}